$primary: #0590FF;
$color2: #F2F3F8;
$color3: #E6F3FF;
$color4: #F2F9FF;
$color5: #575962;
$color6: #9699A2;
$info: #34BFA3;
$warning: #F5A623;
$danger: #F25151;
$border: #EBEDF2;
$minWidth: 1400px;
$paddingWidth: 30px;
$headerHeight: 80px;  // 头部高度
$subHeight: 60px;  // 二级导航高度
$leftMenuWidth: 210px;  // 左边导航菜单宽度

// 顶部导航
@mixin menuTop {
  font-size: 16px;
  font-weight: 400;
  color: #B5B1DD;
}

// 顶部导航选中
@mixin menuTopActive {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

// 侧边导航
@mixin menuNav {
  font-size: 14px;
  color: #5E6383;
  border-left: solid 5px transparent;
}

// 侧边导航选中
@mixin menuNavActive {
  color: $primary;
  background-color: $color3;
  border-left: solid 5px $primary;
}

// 标题
h1 {
  font-size: 18px;
  font-weight: bold;
  color: #575962;
  margin-bottom: 30px;
}

// 二级标题
h2 {
  font-size: 16px;
  font-weight: bold;
  color: #575962;
}
// 三级标题
h3 {
  font-size: 14px;
  color: #9699A2;
}
// 四级标题
h4 {
  font-size: 14px;
  font-weight: bold;
  color: #575962;
}
h5 {
  font-size: 15px;
  font-weight: bold;
  color: #575962;
  margin-bottom: 20px;
}
h6 {
  font-size: 14px;
  color: #9699A2;
  margin-bottom: 30px;
  text-align: right;
  width: 88px;
}
.m-tit {
  font-size: 14px;
  color: #9699A2;
}
//  正文
p {
  font-size: 14px;
  color: #666;
}

// 辅助文字
.m-assist {
  font-size: 14px;
  color: #9699A2;
}

// 链接文字
.m-link {
  font-size: 14px;
  color: #4A90E2;
}

// 按钮文字
.m-btn {
  font-size: 14px;
  color: $primary;
  cursor: pointer;
  font-weight: normal;
}

// 备注文字
.m-tips {
  font-size: 12px;
  color: #9699A2;
}

.m-des {
  font-size: 14px;
  color: #575962;
}

// 小圆点
.m-circle-dot {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 100%;
  background-color: $color5;
  vertical-align: middle;
  &.primary {
    background-color: $primary;
  }
  &.done {
    background-color: #34BFA3;
  }
  &.danger {
    background-color: $danger;
  }
}

.m-primary {
  color: $primary;
}
.m-info {
  color: $info;
}
.m-danger {
  color: $danger;
}
.m-warning {
  color: $warning;
}

// 悬浮面板
.m-panel {
  padding: 15px 0;
  h3 {
    padding: 0 30px;
    line-height: 44px;
    cursor: pointer;
    &:hover,
    &.active {
      color: $primary;
      background-color: $color4;
    }
  }
}

// 搜索悬浮面板
.m-search-wrap {
  // padding: 30px;
  // padding-right: 20px;
  width: 240px;
  box-sizing: border-box;
  .input-box {
    padding: 30px;
    padding-bottom: 0;
    .input-block {
      display: block;
      margin-bottom: 10px;
      // padding-right: 15px;
      .el-icon-search {
        font-size: 18px;
        color: $primary
      }
      .el-input__suffix {
        right: 10px;
      }
    }
  }
  .el-icon-check {
    color: $primary;
  }
  ul {
    padding-bottom: 30px;
    max-height: 450px;
    overflow-y: auto;
    .m-tips {
      padding: 0 30px;
    }
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 40px;
      padding: 10px 30px;
      cursor: pointer;
      &.lists:hover {
        background-color: #F2F9FF;
      }
      img {
        width: 40px;
        height: 40px;
      }
      h3 {
        flex: 1;
        margin-left: 20px;
      }
    }
  }
}

@mixin bg( $path, $width:'', $height:'', $size:'') {
  background: $path center center no-repeat;
  @if $width { width: $width; }
  @if $height { height: $height; }
  @if $size { background-size: $size; }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #EBEDF2;
  }
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    // height: 15px;
    // width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: #9699A2;
    border-radius: 5px;
  }
}

@mixin placeHolder($color: $primary) {
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    text-align: left;
    color: $color;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-align: left;
    color: $color;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-align: left;
    color: $color;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-align: left;
    color: $color;
  }
}



