// start 自定义样式（element-ui基础上） .cus- 开头
// 主题色边框按钮 ex:<el-button class="el-primary-border"></el-button>
.el-button.el-primary-border,
.el-button.el-primary-border:focus {
  border-color: $primary;
  color: $primary;
}
.el-button.el-primary-border:hover {
  color: #fff;
  background-color: $primary;
}

// 图标
.el-icon.primary {
  color: $primary;
}

// 警告提示的文案
.cus-alert.el-alert--warning {
  background-color: #FFF7E5;
  color: #FFB822;
  border: solid 1px #FFB822;
  line-height: 30px;
  padding: 0 10px;
  .el-alert__content {
    padding: 0 5px;
  }
  .el-alert__title {
    font-size: 14px;
  }
  .el-alert__icon {
    font-size: 14px;
  }
}

// 自定义日期选择按钮 <el-date-picker class="btn-date"
.cus-btn-date.el-date-editor.el-input {
  // width: 150px;
  input {
    background-color: transparent;
    &:focus {
      box-shadow: none;
    }
  }
  .el-input__inner {
    padding-left: 0;
    border: none;
    cursor: pointer;
  } 
  .el-input__prefix {
    display: none;
  }
  .el-input__suffix {
    right: 50px;
  }
}

// 自定义下拉框选择按钮 <el-select class="btn-date"
.cus-btn-sel.el-select {
  .el-input__inner {
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: none;
  }
  .el-input__suffix {
    display: none;
  }
  .el-input--suffix .el-input__inner {
    text-align: left;
    padding: 0;
  }
}

// 顶部对齐的form
.cus-form-top {
  .el-form-item__label {
    line-height: 14px;
    color: #9699A2;
  }
}

// 头部横向tabs ex:<div class="m-tabs center"><el-tabs></el-tabs></div>
.cus-tabs {
  &.center .el-tabs__header {
    display: flex;
    justify-content: center;
  }

  .el-tabs__header {
    margin: 0;
    background-color: #fff;
  }

  .el-tabs__nav-wrap::after {
    background-color: transparent;
  }

  .el-tabs__active-bar {
    // width: 28px !important;
    bottom: 10px;
  }

  .el-tabs__nav.is-stretch > * {
    flex: auto;
  }

  .el-tabs__item {
    box-sizing: border-box;
    padding: 0 40px;
  }

  .el-tabs__active-bar {
    display: none;
  }

  .el-tabs__item.is-active:after {
    display: block;
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: #0590FF;
    left: 50%;
    bottom: 0;
    margin-left: -14px;
  }

  .el-tabs--top .el-tabs__item.is-top:nth-child(2):after, 
  .el-tabs--top .el-tabs__item.is-bottom:nth-child(2):after, 
  .el-tabs--bottom .el-tabs__item.is-top:nth-child(2):after, 
  .el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2):after {
    margin-left: -34px;
  }

  .el-tabs--top .el-tabs__item.is-top:last-child:after, 
  .el-tabs--top .el-tabs__item.is-bottom:last-child:after, 
  .el-tabs--bottom .el-tabs__item.is-top:last-child:after, 
  .el-tabs--bottom .el-tabs__item.is-bottom:last-child:after {
    margin-left: 6px;
  }
}

// end 自定义样式（element-ui基础上）

// start 重写element-ui
//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// card卡片
.el-card__body {
  padding: 0;
}

.el-card__header {
  padding: 30px 20px 0;
}

.el-dialog__title {
  color: $color5;
  font-weight: bold;
}

.el-card.is-always-shadow {
  box-shadow: 0px 1px 10px 0px rgba(238,239,245,1);
}

// popover
.el-popover {
  padding: 0;
}

// dialog 模态框、对话框
.el-dialog__wrapper {
  text-align: center;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.el-dialog__wrapper::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

.el-dialog {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0 !important;
  margin: 0 auto;
  padding: 30px;
  text-align: left;
}

.el-dialog__header {
  padding: 0;
  padding-bottom: 20px;
}

.el-dialog__body {
  padding: 0;
}

// input框
.el-input__inner {
  border-radius:26px;
  border:1px solid rgba(235,237,242,1);
  height: 40px;
  line-height: 40px;
  color: #575962;
  padding: 0 15px;
}

.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
  border-color: $primary;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: $color4;
}

.el-scrollbar {
  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
}

// button 按钮
.el-button {
  min-width: 100px;
  padding: 12px 15px;
  border-radius:25px;
  border:1px solid rgba(235,237,242,1);
  color: #9699A2;
  font-size:14px;
}

.el-button + .el-button {
  margin-left: 20px;
}

.el-button--primary {
  background-color: #0590FF;
  color: #fff;
}

.el-button:hover {
  color: #9699A2;
  background:rgba(250,249,252,1);
  border-radius:25px;
  border:1px solid rgba(235,237,242,1);
}
.el-button:focus {
  background-color: #fff;
  border: 1px solid $border;
  color: #9699A2;
}

.el-button--primary:hover {
  color: #fff;
  background:rgba(121,195,253,1);
  border-color: transparent;
}
.el-button--primary:focus {
  background-color: #0590FF;
  color: #fff;
}

.el-button--small,
.el-button--mini {
  min-width: auto;
}

.el-button--mini {
  padding: 4px 13px;
}

// 危险边框按钮
.el-button--danger.is-plain {
  border-color: $danger;
  color: $danger;
  background: #fff;
}

// 紧急边框按钮
.el-button--warning.is-plain {
  border-color: $warning;
  color: $warning;
  background: #fff;
}

// confirm
.el-message-box {
  width: auto;
  min-width: 270px;
  padding-bottom: 30px;
}
.el-message-box__header {
  padding: 30px;
  padding-bottom: 0;
  text-align: center;
}
.el-message-box__title {
  color: #575962;
  font-size:18px;
  font-weight: bold;
}

.el-message-box__content {
  padding: 15px 30px 10px;
}
.el-message-box__message p {
  color: #9699A2;
}

.cus-confirm .el-message-box__content {
  padding: 30px;
}

.el-message-box__btns {
  padding: 0 27px;
  display: flex;
  .el-button {
    padding: 0;
    height: 40px;
    line-height: 40px;
    flex: 1;
  }
}

// 分页
.el-pagination {
  margin-top: 30px;
}

.el-pagination__total {
  margin-right: 20px;
}

.el-pagination__sizes {
  margin-left: 20px;
}

.el-pagination .el-select .el-input .el-input__inner {
  border-radius: 26px;
  line-height: 30px;
  height: 30px;
}

.el-pagination__editor.el-input {
  margin: 0 8px;
  width: 60px;
  height: 30px;
  line-height: 30px;
}

.el-pagination.is-background .btn-prev, 
.el-pagination.is-background .btn-next, 
.el-pagination.is-background .el-pager li {
  height: 30px;
  background-color: #fff;
  border:1px solid rgba(238,239,244,1);
  border-radius: 100%;
  color: #9699A2;
  font-size: 14px;
  font-weight:400;
}

// 表格
.el-table {
  color: #575962;
}

.el-table th.is-leaf, .el-table td {
  border-bottom: none;
}

.el-table th {
  background-color: $border;
}

.el-table th,
.el-table td {
  padding: 13px 0;
}

.el-table .cell {
  line-height: 24px;
}

// 数据为空
.el-table__empty-block {
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
  &:before {
    content: '';
    display: block;
    // margin: auto;
    width: 150px;
    height: 148px;
    background: url(~@images/no-data.png) center center no-repeat;
    background-size: contain;
  }
  .el-table__empty-text {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    line-height: 50px;
  }
}

// 数字
.el-badge__content {
  position: relative;
  top: 1px;
}

// popover弹出层
.el-popper[x-placement^="bottom"] {
  padding: 0;
}

.el-popper[x-placement^="bottom"] .popper__arrow::after {
  display: none;
}

.el-popper[x-placement^="bottom"] .popper__arrow {
  border: none;
}

// icon 图标
.el-icon-more {
  color: #9699A2;
  font-size: 14px;
}

// 自定义 类似图片交互的 checkbox
.my-checkbox {
  cursor: pointer;
  .el-checkbox__inner {
    top:-2px;
    vertical-align: middle;
    margin-right: 10px;
  }
}
.my-check-title.is-checked {
  text-decoration: line-through;
}

// 取消表格下划线
.el-table::before {
  height: 0;
  content:'';
  }
// end 重写element-ui

// UEditor上传
#edui_fixedlayer {
  z-index: 9999 !important;
}

// 重置时间线样式
.el-timeline-item {
  .el-timeline-item__node--large {
    width: 5px;
    height: 5px;
    left: 1px;
  }
  .el-icon-more:before {
    content: none;
  }
  .el-timeline-item__node--primary {
    background-color: #fff;
    border: 1px solid #0590FF;
  }
  .el-timeline-item__tail {
    border-left: 1px solid #0590FF;
  }
}
// 征集计划无表格弹框样式
.timeLine {
  height: 535px;
  padding-top: 30px;
  float: left;
  width: 140px;
  border-right: 1px solid #EBEDF2;
  overflow-y: auto;
}
.approval {
  .el-timeline-item__content {
     width: 45px;
     color: #9699A2;
       } 
  .el-dialog__header {
    border-bottom: 1px solid #EBEDF2;
    height: 30px;
  }
  .el-dialog__footer {
    margin-top: 30px;
    padding: 30px 0 0 0;
    border-top: 1px solid #EBEDF2;
    text-align: center;
  }
.right {
  margin-left: 25px;
  padding-left: 145px;
  padding-top: 30px;
  .uploadTit {
     display: flex;
  }
  .article {
     margin: 30px 0;
  }
  .el-form-item {
    margin-left: -23px;
    margin-bottom: 0;
    .el-textarea {
      border-radius: 5px;
    }
  }
}
 .right  h3 {
    margin-bottom: 15px;
  }
  .personName {
    margin-top: -33px;
  }
  .el-textarea__inner {
     width: 560px;
     height: 100px;
  }
 .el-input {
  width: 90%;
  margin-bottom: 30px;
}
}