//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}


// card卡片
.el-card__body {
  padding: 0;
}

.el-card__header {
  padding: 30px 20px 0;
}

// dialog 模态框、对话框
.el-dialog__wrapper {
  text-align: center;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.el-dialog__wrapper::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

.el-dialog {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0 !important;
  margin: 0 auto;
  padding: 30px;
  text-align: left;
}

.el-dialog__header {
  padding: 0;
  padding-bottom: 20px;
}

.el-dialog__body {
  padding: 0;
}

// input框
.el-input__inner {
  border-radius:26px;
  border:1px solid rgba(235,237,242,1);
  height: 40px;
  line-height: 40px;
  color: #575962;
  padding: 0 15px;
}

.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
  border-color: $primary;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: $color4;
}

// button 按钮
.el-button {
  min-width: 100px;
  padding: 12px 15px;
  border-radius:25px;
  border:1px solid rgba(235,237,242,1);
  color: #9699A2;
  font-size:14px;
}

.el-button + .el-button {
  margin-left: 20px;
}

.el-button--primary {
  background-color: #0590FF;
  color: #fff;
}

.el-button:hover, .el-button:focus {
  color: #9699A2;
  background:rgba(250,249,252,1);
  border-radius:25px;
  border:1px solid rgba(235,237,242,1);
}

.el-button--primary:hover, .el-button--primary:focus {
  color: #fff;
  background:rgba(121,195,253,1);
  border: none;
}

.el-button--small,
.el-button--mini {
  min-width: auto;
}

.el-button--mini {
  padding: 4px 13px;
}

// confirm
.el-message-box {
  width: auto;
}
.el-message-box__title {
  color: #575962;
  font-size:18px;
  font-weight: bold;
}
.el-message-box__message p {
  color: #9699A2;
}

.el-message-box__btns {
  padding: 0 27px;
  display: flex;
  .el-button {
    padding: 0;
    height: 40px;
    line-height: 40px;
    flex: 1;
  }
}

// 分页
.el-pagination {
  margin-top: 30px;
}

.el-pagination__total {
  margin-right: 20px;
}

.el-pagination.is-background .btn-prev, 
.el-pagination.is-background .btn-next, 
.el-pagination.is-background .el-pager li {
  height: 30px;
  background-color: #fff;
  border:1px solid rgba(238,239,244,1);
  border-radius: 100%;
  color: #9699A2;
  font-size: 14px;
  font-weight:400;
}

// 自定义按钮

// 主题色边框按钮
.el-button.el-primary-border {
  border-color: $primary;
  color: $primary;
}
.el-button.el-primary-border:hover {
  color: #fff;
  background-color: $primary;
}

// 危险边框按钮
.el-button--danger.is-plain {
  border-color: $danger;
  color: $danger;
  background: #fff;
}

// 紧急边框按钮
.el-button--warning.is-plain {
  border-color: $warning;
  color: $warning;
  background: #fff;
}

// 表格
.el-table {
  color: #575962;
}

.el-table th.is-leaf, .el-table td {
  border-bottom: none;
}

.el-table th {
  background-color: #EBEDF2;
  padding: 13px 0;
}

.el-table td {
  padding: 9px 0;
}

// 数字
.el-badge__content {
  position: relative;
  top: 1px;
}

// popover弹出层
.el-popper[x-placement^="bottom"] {
  padding: 0;
}

.el-popper[x-placement^="bottom"] .popper__arrow::after {
  display: none;
}

.el-popper[x-placement^="bottom"] .popper__arrow {
  border: none;
}

// icon 图标
.el-icon-more {
  color: #9699A2;
  font-size: 14px;
}

// 自定义 类似图片交互的 checkbox
.my-checkbox {
  cursor: pointer;
  .el-checkbox__inner {
    top:-1px;
    vertical-align: middle;
  }
  &.is-checked + .title {
    text-decoration: line-through;
  }
}