#app {
	height: 100%;
	font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	// font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	// font-family: "Microsoft YaHei", 'Avenir', Helvetica, Arial, sans-serif;
	// -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

.ell {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.two-ell {
	overflow: hidden;
	text-overflow: ellipsis;
  display: -webkit-box;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.clearfix:after,.clearfix:before{
	content: '';
	display: block;
	clear: both;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.tc {
	text-align: center;
}

.pad {
	padding: 30px;
}

.ml-30 {
	margin-left: 30px;
}

.mr-10 {
	margin-right: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.g-container {
	position: relative;
	min-width: 1200px;
	// min-width: 1440px;
  min-height: 100%;
  padding-top: $headerHeight;
	box-sizing: border-box;
	background-color: #F2F3F8;
}

.g-container.header-no {
	padding-top: 0;
}

.g-wrap {
	
}

.g-content {
	padding: 30px;
	box-sizing: border-box;
}

.g-content>div {
	padding: 30px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow:0px 1px 10px 0px rgba(238,239,245,1);
	border-radius:4px;
}

.g-sub-top {
	padding: 0 30px;
	height: $subHeight;
	line-height: $subHeight;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}



