#app {
	height: 100%;
	font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	// font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	// font-family: "Microsoft YaHei", 'Avenir', Helvetica, Arial, sans-serif;
	// -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

.ell {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.two-ell {
	overflow: hidden;
	text-overflow: ellipsis;
  display: -webkit-box;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.clearfix:after,.clearfix:before{
	content: '';
	display: block;
	clear: both;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

.g-container {
	position: relative;
	min-width: 1200px;
  min-height: 100%;
  padding-top: $headerHeight;
	box-sizing: border-box;
	background-color: #F2F3F8;
}

.g-container.header-no {
	padding-top: 0;
}

.g-wrap {
	
}

// 有左侧菜单
.g-wrap.menu-wrap {
	padding-left: $leftMenuWidth;
}


